@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  min-height: 100vh;
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

a { text-decoration: none; }
